// 列表页
#lby{
    &>p{line-height: 34px;
    color: #999;
    width: 980px;
    height: 34px;
    margin-top: 15px;
    a{color: #333;}
    }
    .l{
        float: left;
        width: 230px;
        .list{
            h3{
                width: 228px;
                background: url('../css/img/h3bg.jpg') repeat-x;
                height: 36px;
                line-height: 36px;
                cursor: pointer;
                font-size: 13px;
            }
            h3 span:first-child{
                background: url('../css/img/csx.jpg') no-repeat 0 -248px;
                width: 15px;
                height: 14px;
                float: left;
                margin: 10px 10px 0px 12px;
            }
            h3 span.open{
                background: url('../css/img/csx.jpg') no-repeat 0 -234px;
                width: 15px;
                height: 14px;
                float: left;
                margin: 10px 10px 0px 12px;
            }
            .sl{
                font-size: 12px;
                color: #999;
                font-weight: normal;
                margin-left: 2px;
            }
            ul{
                width: 154px;
                border-bottom: 1px solid #e4e4e4;
                padding: 8px 37px;
            }
            ul li{
                line-height: 26px;
                height: 26px;
                cursor: pointer;
                a{color:#333;}
            }
        }
        // 公共
        .px{
                width: 226px;
                height: 33px;
                line-height: 33px;
                margin: 1px;
                background: url('../css/img/p2lbg.jpg') repeat-x;
                color: #333;
                font-family: microsoft yahei;
                font-size: 14px;
                font-weight: bold;
                text-align: center;
                border-bottom: 1px solid #e4e4e4;
            }
        .week_list{
            width: 228px;
            border: 1px solid #e4e4e4;
            margin-top: 10px;
            
            li{
                border-bottom: 1px dashed #e4e4e4;
                text-align: center;
                padding: 6px;
                width: 216px;
                img{width: 120px;height: 120px;margin: 10px auto;}
                p:nth-of-type(1){
                    color: #666;
                    width: 210px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    text-align: center;
                    padding: 0 3px;
                }
                p:nth-of-type(2){
                    color: #ff1a3a;
                    font-size: 14px;
                    font-weight: bold;

                }
            }
        }
        .gou{
            width: 228px;
            border: 1px solid #e4e4e4;
            margin-top: 10px;
            li{
                padding: 15px 10px;
                margin-bottom: 0px;
                width: 208px;
                height: 82px;
                overflow: hidden;
                img{float: left;width: 100px;height: 82px;text-align: left;}
                .libox{float: left;width: 102px;padding-top: 15px;}
                p{color: #666;overflow:hidden;height: 30px;}
                p:nth-of-type(2){
                    text-align: right;
                    margin-top: 8px;
                    color: #ff1a3a;
                    font-size: 14px;
                    font-weight: bold;
                }
            }
        }
    }
    .r{
        width: 960px;
        float: right;
        .top{
            margin-top: 10px;
            width: 938px;
            background: url('../css/img/filbg.jpg') repeat-x;
            border: 1px solid #eee;
            border-top: 2px solid #15ade0;
            float: left;
            padding: 5px 10px;
            dl{float: left;line-height: 26px;}
            dt{float: left;}
            dd{height: 24px;background: #f6f6f6;border: 1px solid #cecbce;margin-right: 5px;line-height: 24px;padding: 0 10px;float: left;cursor:pointer;}
        }
        // 点击筛选bg加类
        .sxbg{
            background: #fc1c5a;
            border: 1px solid #fc1c5a;
            color: #fff;
            font-weight: bold;
            position: relative;
        }
        .content{
            width: 960px;
            float: left;
            margin: 10px 0;
            ul{
                width: 214px;
                float: left;
                background: #fff;
                padding: 13px;
                img{padding: 7px;width: 188px;height: 200px;background: #fff;}
                p:nth-of-type(1){line-height: 18px;height: 36px;overflow: hidden;color: #666;}
                p:nth-of-type(2){color: #ff1a3a;font-size: 14px;font-weight: bold;margin: 10px 0 3px 0;padding: 0 15px;}
                a>span:nth-of-type(1){display: block;float: left;padding: 0 15px;height: 24px;line-height: 24px;border-radius: 3px;background: #fc1c5a;text-align: center;color:#fff;}
                a>span:nth-of-type(2){background: #efefef;color: #666;margin-left: 10px;border: 1px solid #dfdfdf;height: 24px;line-height: 24px;padding: 0 15px;display:block;float: left;border-radius: 3px;text-align: center;}
            }
            ul:hover{background: #f4f4f4;}
        }
    }
}