/* 
* @Author: Marte
* @Date:   2017-09-23 10:18:13
* @Last Modified by:   Marte
* @Last Modified time: 2017-09-23 12:05:42
*/
body,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,li,form,input,textarea{margin: 0;padding: 0;}
ul,li{list-style:none;}
a{text-decoration: none;}
*{box-sizing: border-box;}

/*字体*/
body{font-size:12px;color:#666;}
/*清楚浮动，解决高度塌陷*/
.clearfix:after{
    display:block;
    content:"";
    height: 0;
    clear:both;
    overflow:hidden;
    visibility:hidden;
    zoom:1;
}
/*img{
    border:0 none;
}*/

.core{width:1200px; margin:0 auto;}

i,img{ display: block; }
